@font-face {
  font-family: readex-pro;
  src: url("ReadexPro-Regular.ttf");
}

body {
  margin: 0;
  background: #4caf50;
  font-family: readex-pro;
  overflow: hidden;
}

.grass-field {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.blade {
  position: absolute;
  width: 1vh;
  height: 7vh;
  background: linear-gradient(to bottom, #66dd44, #4caf4f00);
  opacity: 0.8;
  border-radius: 1vh;
  transform-origin: bottom center;
  transform: rotate(var(--rot, 0rad));
  transition: transform 0.5s ease-out;
  border-radius: 50% 50% 10% 10% / 60% 60% 20% 20%;
  box-shadow: inset 0 -6px -14px rgba(0, 0, 0, 0.18),
    0 2px 6px rgba(0, 0, 0, 0.08);
  overflow: visible;
}

.style-1 {
  background: linear-gradient(to bottom, #b2eb4a, #4caf4f00);
}

.style-2 {
  background: linear-gradient(to bottom, #4cd77f, #4caf4f00);
}

.title-div {
  position: absolute;
  font-size: 4vh;
  width: 100%;
  display: flex;
  justify-content: left;
  padding-top: 3vh;
  padding-left: 3vh;
  z-index: 10000000;
}

.text {
  position: absolute;
  color: white;
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.4));
  font-size: 3vh;
  z-index: 10000000;
  pointer-events: none;
}

.item {
  cursor: pointer;

  position: absolute;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;

  transform: translate(-50%, -50%);

  pointer-events: all;

  transition: transform 0.05s ease-in-out;

  filter: drop-shadow(2px 4px 3px rgb(0, 0, 0, 0.3));
}

.item-img {
  pointer-events: none;
  width: 17vh;
}

.selected {
  filter: drop-shadow(2px 2px 10px rgb(0, 0, 0, 0.3))
    drop-shadow(0 0 6px rgb(238, 255, 0));
  transform: translate(-50%, -50%) scale(1.08);
}

.hovered {
  filter: drop-shadow(2px 2px 10px rgb(0, 0, 0, 0.3))
    drop-shadow(0 0 6px rgb(238, 255, 0));
}

#bg {
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
  position: absolute;
  margin: 0;
  z-index: 0;
}

.hoverbox {
  z-index: 100000001 !important;
  width: 30vh;
  border-radius: 1vh;
  background-color: white;
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.4));
  position: absolute;
  transform: translate(-50%, 0%);
  padding: 1.5vh;
  text-align: center;
}

.hoverbox-tail {
  width: 0;
  height: 0;
  border-left: 2vh solid transparent;
  border-right: 2vh solid transparent;
  border-bottom: 2vh solid white;
  opacity: 1;
  position: absolute;
  top: -1.9vh;
  left: 50%;
  transform: translate(-50%, 0%);
}

.hoverbox-title {
  font-size: 2.6vh;
  width: 100%;
  padding-bottom: 1vh;
}

.hoverbox-desc {
  padding-top: 1vh;
}

.grass-off {
  bottom: 3vh;
  left: 3vh;
}

.Mui-checked {
  color: rgb(55, 255, 55) !important;
}

.MuiSwitch-root {
  pointer-events: all;
}

.who {
  bottom: 3vh;
  right: 3vh;
  pointer-events: all;
}

.text-highlight {
  color: rgb(255, 246, 150);
}

.hoverbox-gif {
  width: 100%;
  border-radius: 1vh;
}
